/**
Palette: https://scrimba.com/links/hometown-palette
BLUE: #6999CE
BLACK: #0E0E0D
GREY-GREEN: #889B9E
WHITE: #DEE2E0
*/

body {
    margin: 0;
    text-align: center;
    font-family: "SN Pro", sans-serif;
    background-color: #889B9E;
}

img {
    width: 125px;
    height: 125px;
    border-radius: 200px;
    transition: transform 0.5s ease, box-shadow 0.6s ease;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
}

img:hover {
    transform: translateY(-6px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.30);
}

.header {
    background: url("/images/background.webp");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 400px;
    margin: 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #DEE2E0;
    border-bottom: 10px solid #6999CE;
}

.header-text {
    font-size: 30px;
    text-shadow: 0 0 10px #0E0E0D;
}

.act-img {
    border: 3px solid #6999CE;
}

.act-text {
    color: #0E0E0D;
    font-size: 15px;
}

#act-head {
    padding: 20px;
    text-decoration: underline;
    text-underline-offset: 7px;
    color: #6999CE;
    text-shadow: 0 0 2.5px #0E0E0D;
    font-size: 35px;
}

#act {
    display: flex;
    justify-content: space-evenly;
}

.falls, .train, .ttu {
    margin: auto 20px;
    padding: 20px;
    border-radius: 50px;
}

#guide-wrap {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    margin: 80px 80px;
    background-color: #6999CE;
    border-radius: 50px;
}

#guide-text {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin: 0 50px;
    text-shadow: 0 0 .6px #DEE2E0;
}

#guide-img {
    margin: 0 50px;
    border: 3px solid #889B9E;
}

.falls, .train, .ttu, #guide-wrap {
    transition: transform 0.5s ease, box-shadow 0.6s ease;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
}

.falls:hover, .train:hover, .ttu:hover, #guide-wrap:hover {
    transform: translateY(-6px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.30);
}