/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

body {
    margin: 0;
    text-align: center;
}

img {
    width: 125px;
    height: 125px;
    border-radius: 200px;
    box-shadow: 0 0 10px 1px black;
    
}

.header {
    display: flex;
    flex-direction: column;
    margin: inherit;
    padding: 30px;
    background-image: url("cookeville-back.jpeg");
}